In [5]:
import pandas as pd

df = pd.read_csv('../data/cars.csv')

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
3,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
4,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0

**Целевая переменная**
- `selling_price`: цена продажи, числовая

**Признаки**
- `name` (string): модель автомобиля
- `year` (numeric, int): год выпуска с завода-изготовителя
- `km_driven` (numeric, int): пробег на дату продажи
- `fuel` (categorical: _Diesel_ или _Petrol_, или _CNG_, или _LPG_, или _electric_): тип топлива
- `seller_type` (categorical: _Individual_ или _Dealer_, или _Trustmark Dealer_): продавец
- `transmission` (categorical: _Manual_ или _Automatic_): тип трансмиссии
- `owner` (categorical: _First Owner_ или _Second Owner_, или _Third Owner_, или _Fourth & Above Owner_): какой по счёту хозяин?
- `mileage` (string, по смыслу числовой): пробег, требует предобработки
- `engine` (string, по смыслу числовой): рабочий объем двигателя, требует предобработки
- `max_power` (string, по смыслу числовой): пиковая мощность двигателя, требует предобработки
- `torque` (string, по смыслу числовой, а то и 2): крутящий момент, требует предобработки
- `seats` (numeric, float; по смыслу categorical, int): количество сидений

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6999 non-null   object
 1   year           6999 non-null   int64
 2   selling_price  6999 non-null   int64
 3   km_driven      6999 non-null   int64
 4   fuel           6999 non-null   object
 5   seller_type    6999 non-null   object
 6   transmission   6999 non-null   object
 7   owner          6999 non-null   object
 8   mileage        6797 non-null   object
 9   engine         6797 non-null   object
 10  max_power      6803 non-null   object
 11  torque         6796 non-null   object
 12  seats          6797 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 711.0+ KB

In [18]:
df.describe().round()

         year  selling_price  km_driven   seats
count  6999.0         6999.0     6999.0  6797.0
mean   2014.0       639515.0    69585.0     5.0
std       4.0       808942.0    57724.0     1.0
min    1983.0        29999.0        1.0     2.0
25%    2011.0       254999.0    35000.0     5.0
50%    2015.0       450000.0    60000.0     5.0
75%    2017.0       675000.0    97000.0     5.0
max    2020.0     10000000.0  2360457.0    14.0

In [9]:
df.shape

(6999, 13)

In [11]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
dtype: object

In [19]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          202
engine           202
max_power        196
torque           203
seats            202
dtype: int64

In [39]:
df.mileage.apply(lambda x: str(x).split(' ')[-1]).value_counts()

kmpl     6718
nan       202
km/kg      79
Name: mileage, dtype: int64

In [74]:
df['fuel_efficiency'] = df.mileage.apply(lambda x: float(str(x).split(' ')[0]))

In [51]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,fuel_efficiency
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,23.4
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,21.14
2,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,23.0
3,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,16.1
4,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0,20.14

In [53]:
len(df.dropna())/ len(df)

0.9709958565509359

In [55]:
df = df.dropna()

In [57]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage            0
engine             0
max_power          0
torque             0
seats              0
fuel_efficiency    0
dtype: int64

In [60]:
df.mileage.apply(lambda x: str(x).split(' ')[-1]).value_counts()

kmpl     6718
km/kg      78
Name: mileage, dtype: int64

In [85]:
kmkg_rows = df['fuel_efficiency'][df.mileage.apply(lambda x: str(x).split(' ')[-1])!='kmpl']

In [86]:
kmkg_rows = (kmkg_rows/0.745).round(2)

In [87]:
df.fuel_efficiency.head(6)

0    23.40
1    21.14
2    23.00
3    16.10
4    20.14
5    23.22
Name: fuel_efficiency, dtype: float64

In [91]:
df.engine.apply(lambda x: str(x).split(' ')[-1]).unique()

array(['CC'], dtype=object)

In [92]:
df.engine.apply(lambda x: float(str(x).split(' ')[0]))

0       1248.0
1       1498.0
2       1396.0
3       1298.0
4       1197.0
         ...
6994    1197.0
6995    1493.0
6996    1248.0
6997    1396.0
6998    1396.0
Name: engine, Length: 6796, dtype: float64

In [100]:
df['engine_num'] = df.engine.apply(lambda x: int(str(x).split(' ')[0]))
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,fuel_efficiency,engine_num
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5,23.40,1248
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5,21.14,1498
2,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5,23.00,1396
3,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5,16.10,1298
4,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5,20.14,1197

In [101]:
df['seats'] = df['seats'].astype('int')

In [102]:
df.dtypes

name                object
year                 int64
selling_price        int64
km_driven            int64
fuel                object
seller_type         object
transmission        object
owner               object
mileage             object
engine              object
max_power           object
torque              object
seats                int64
fuel_efficiency    float64
engine_num           int64
dtype: object